replicaCount: 1

image:
  repository: ghcr.io/ronkahn21/grove-operator
  tag: scale-poc
  pullPolicy: Always

resources:
  limits:
    memory: 2Gi
    cpu: 2000m
  requests:
    cpu: 100m
    memory: 256Mi
    ephemeral-storage: 128Mi

serviceAccount:
  automount: false
  name: "grove-operator"

config:
  runtimeClientConnection:
    qps: 100
    burst: 150
  leaderElection:
    enabled: true
    leaseDuration: 15s
    renewDeadline: 10s
    retryPeriod: 2s
    resourceLock: leases
    resourceName: grove-operator-leader-election
  server:
    webhooks:
      port: 9443
      serverCertDir: /etc/grove-operator/webhook-certs
      secretName: "grove-webhook-server-cert"
      certProvisionMode: auto
    healthProbes:
      enable: true
      port: 9444
    metrics:
      port: 9445
  debugging:
    enableProfiling: true
  controllers:
    podCliqueSet:
      concurrentSyncs: 3
    podClique:
      concurrentSyncs: 3
  logLevel: info
  logFormat: json
  topologyAwareScheduling:
    enabled: false

deployment:
  labels:
    app.kubernetes.io/component: operator-deployment
    app.kubernetes.io/name: grove-operator
    app.kubernetes.io/part-of: grove
  env:
    - name: GROVE_INIT_CONTAINER_IMAGE
      value: ghcr.io/ronkahn21/grove-initc:scale-poc
    - name: PYROSCOPE_SERVER_URL
      value: http://pyroscope.pyroscope.svc.cluster.local:4040

service:
  name: grove-operator
  type: ClusterIP
  port: 80
  labels:
    app.kubernetes.io/component: operator-service
    app.kubernetes.io/name: grove-operator
    app.kubernetes.io/part-of: grove
